<br><br><br>
<h1 class="text-center">Welcome to the LockerRoom</h1>
<br><br><br>
  <div class="row text-center">
    <div class="col-md-6">
    <a href="/login" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Log In</a>
    </div>
    <div class="col-md-6">
      <a href="/signup" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Sign Up</a>
    </div>
  </div>
