<%= form_for(@secret) do |f| %>
  <div class="card border-primary mb-3">
    <div class="card-header">
      <%= f.text_field :domain, placeholder: "enter new domain" %>
    </div>
    <div class="card-body">
      <%= f.text_field :password, placeholder: "enter new password" %>
    </div>
    <%= f.submit "Add", class: "btn btn-primary" %>
  </div>
<% end %>
